<%= render 'owner/header' %>
<%= render 'student/menu' %>
<div class="container">
	<div class="row pl-5" style="margin-top:10%;">
		

		<div class="col-sm-6 col-6 pl-5" >
			 	 <div class="card mt-5 ml-5" style="border:2px solid orange;width:80%; float:left;border-radius:7%">
				  <center><i class='far fa-dizzy mt-2' style='font-size:100px;color:#FC3900'></i></center>
				  <hr>
				  <div class="row" style="height:auto;width:100%;border:0px solid black">
				  	<div class="col text-center"><h4 class="ml-3 mt-1"><b><%=link_to 'Leave Application Apply',new_student_leave_path(session[:HostelId])%></b></h4>
				  	</div>
				  </div>
			</div>	 
		</div>
		<div class="col-sm-6 col-6 pl-5" style="border:0px solid black">
			<div class="card mt-5 ml-5" style="border:2px solid orange;width:80%; float:left;border-radius:7%">
					  <center><i class='fas fa-question-circle mt-2' style='font-size:100px;color:#FC3900'></i></center>
					  <hr>
					  <div class="row" style="height:auto;width:100%;border:0px solid black">
					  	<div class="col text-center"><h4 class="ml-3 mt-1"><b><%=link_to 'Leave Application Status',student_leave_path(session[:HostelId],0)%></b></h4>
					  	</div>
					  </div>
				</div>
	   </div>	
	</div>
</div>
</div>