<nav class="navbar navbar-expand-sm text-white navbar-dark" style="border:2px solid black;background-color: #FF5C20;font-family: Montserrat, sans-serif;">  
    <img src="logo.png" alt="logo" style="width:7%;"> 
  	<h1 style="margin-left:20%"><b>Hostel Management System</b></h1>
</nav>